<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <h1>Inserisci i dati</h1>
        <form method="post" action="/">
            <input type="text" value="IP" name="Indirizzo_ip"/><br>
            <input type="text" value="Porta (numero minimo)" name="porta_minima"/><br>
            <input type="text" value="Porta (numero massimo)" name="porta_massima"/>
            <input type="submit" value="Invia dati" name="bottone">
        </form><br>
    </body>
</html>